VOICES_DIR=./voices
TTS_MODEL_NAME=tts_models/multilingual/multi-dataset/xtts_v2
MONGO_URI=mongodb://127.0.0.1:27017/
MONGO_DB=voiceCloning
MONGO_INPUTS_COLLECTION=inputs
MONGO_PROJECTS_COLLECTION=projects
WORKER_POLL_INTERVAL=15
MAX_TEXT_LENGTH=5000
S3_ENDPOINT_URL=http://localhost:4566
S3_BUCKET=my-local-bucket
S3_REGION=us-east-1
AWS_ACCESS_KEY_ID=dummy
AWS_SECRET_ACCESS_KEY=dummy
PRESIGNED_URL_EXPIRY=3600
